@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Karla';
    color: rgb(229, 239, 245)
}

.container {
   /* border-radius: 10px;
    box-shadow: 5px 5px 15px #ccccff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 70vh; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 45vh 55vh; /* 30 / 40 */
    grid-template-areas: "m m" "a s";
    font-size: 1.5em;
}

main {
    grid-area: m;
}

main h1 {
    color:  #00b4af;
    margin: 50px 50px 15px;
}

main h2 {
    color: rgb(192, 223, 52);
    margin: 25px 50px;
}

main p {
    color:rgb(152, 166, 189);
    margin: 25px 50px;
}

article {
    grid-area: a;
    background-color: #00b4af;  
}

article h3 {
    margin: 25px 50px;  
}

article p {
    margin: 25px 50px;
}

article span {
    margin: 25px 50px;
}


section {
    grid-area: s;
    background-color: #00bfbb;
}

section h4 {
    font-size: 1.3em;
    margin: 25px 50px;
}

section ul li {
    list-style-type: none;
    margin: 1% 50px;
}


article button {
    color: rgb(229, 239, 245);
    border: none;
    width: 60%;
    height: 7vh;
    border-radius: 5px;
    background-color: #c0df34;
    font-family:'Karla';
    font-size: 1.35em;
    font-weight: 700;
}

article button:hover {
    background-color: #c0df34e6;
}

.btn {
    margin-top:10%;
    text-align: center;
}   



.price {
    font-size: 4em;
    
    display: inline;  
}

.pm {
    font-size: .3em;
    vertical-align: middle;
    margin: 10px 0 0 5px;
    color: rgba(229, 239, 245, 80%);
}


/* TABLET */
@media only screen and (max-width: 800px) {
    .container {
    grid-template-rows: 45vh 55vh;
    font-size: 1.3em;
    }    

    .price {
        font-size: 30px;
    }

    .btn {
        margin-top: 5%;
    }

    .pm {
        font-size: .6em;
    }
}


/* MOBILE */
@media only screen and (max-width: 450px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100vh 50vh 50vh; /* 30 / 40 */
        grid-template-areas: "m" "a" "s";
        font-size: 1.2em;
    }

    .price {
        font-size: 1.5em;
    }

    .pm{
        font-size: .6em;
        color: rgba(229, 239, 245, 80%);
        display: inline;    
    }
}